services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: companydirectory
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
