.map {
  width: 100%;
  position: absolute;
  top: 75px;
  bottom: 0;
}


.navbar {
  background-color: #2c76de;
  bottom: 0;
  height: 75px;
  z-index: 1;
}

.select {
  top: 14;
  left: 11;
  width: 300px;
  z-index: 2;
}

.flag {
  width: 100px;
  height: 100px;
}
